ion-title {
    text-align:center;
}

.masters {
   // background-color: #FFC107;
  }

#btnAdd{
    opacity: 0.9;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 5%; /* Adjust height */
    right: 5%; /* Adjust position */
    z-index: 1000;
}
#btnOptionA{
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
}
#btnOptionB{
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 50px;
    float: right;
}